<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/TorgSolution</property>



        <property name="connection_pool_size">1</property>

        <property name="show_sql">true</property>
        <mapping class="model.Good"/>
        <mapping class="model.GoodType"/>
        <mapping class="model.Shop"/>
        <mapping class="model.Warehouse"/>
        <mapping class="model.IncomeInvoice"/>
        <mapping class="model.IncomeCompositon"/>
    </session-factory>
</hibernate-configuration>